

@{
	ViewBag.Title = "Index";
}
<h2>Index</h2>

<div ng-controller="bulbIndexController">
	
	<div ng-view>
		<div ng-show="isBusy" text-align: center;>
			<img src="~/Images/477.gif" alt="Smiley face" height="42" width="42" style="margin:0px auto;display:block">
		</div>
		<div ng-show="!isBusy">
			<div>
				<a class="btn btn-sm btn-default aria-label='Discover Bulbs" ng-click="discoverBulbs()">
					<span class="glyphicon glyphicon-search"></span>
				</a>
				Discover
			</div>

			<div>
				<a class="btn btn-sm btn-default aria-label='Toggle Power on this Bulb" ng-click="togglePowerAll()">
					<span class="glyphicon glyphicon-off" aria-hidden="true" ng-style="{ color: areAnyOn() ? 'white' : 'gray' }"></span>
				</a>
				Master Power
			</div>

			<table id="groupsTable" class="table table-bordered">
				<tr>
					<th>
						Group
					</th>
					<th></th>
				</tr>

				<tr ng-repeat="group in groups">
					<td>
						<a class="btn btn-sm btn-default aria-label='Toggle Power on this Bulb'" ng-click="togglePowerGroup(group)">
							<span class="glyphicon glyphicon-off" aria-hidden="true" ng-style="{ color: isGroupOn(group) ? 'white' : 'gray' }"></span>
						</a>
						{{ group.Name }}
						<a role="button" data-toggle="collapse"
							data-target=#bulbsTableDiv-{{$index}} aria-expanded="false" aria-controls="bulbsTable"
							ng-click="group.isCollapsed = !group.isCollapsed">
							<span ng-show=!group.isCollapsed class="glyphicon glyphicon-chevron-right"></span>@*collapse verb*@
							<span ng-show=group.isCollapsed class="glyphicon glyphicon-chevron-up"></span>@*expand verb*@
						</a>
					</td>

					<td>
						<div id="bulbsTableDiv-{{$index}}" class="well well-sm collapse">
							Bulbs
							<table id="bulbsTable" class="table table-bordered">
								<tr>
									<th>Label</th>
									<th>Hue</th>
									<th>Saturation</th>
									<th>Brightness</th>
									<th>Kelvin</th>
								</tr>

								<tr ng-repeat="bulb in group.Bulbs">
									<td>
										<a class="btn btn-sm btn-default aria-label='Toggle Power on this Bulb'"
											ng-click="togglePowerBulb(bulb.BulbId)">
											<span class="glyphicon glyphicon-off" aria-hidden="true" ng-style="{ color: bulb.IsOn ? 'white' : 'gray' }"></span>
										</a>

										{{ bulb.Label }}
									</td>
									<td>
										<spectrum-colorpicker ng-model=bulb.ColorString ng-change=bulbColorChanged(bulb) ng-show=bulb.IsColor
																options="{showButtons: false}"></spectrum-colorpicker>
										<spectrum-colorpicker ng-model=bulb.ColorString ng-change=bulbColorChanged(bulb) ng-show=!bulb.IsColor
																options="{showPaletteOnly: true, showSelectionPalette: false}" palette=palette></spectrum-colorpicker>

										{{ bulb.Group }}
									</td>
									<td>
										{{ bulb.Saturation }}
									</td>
									<td>
										{{ bulb.Brightness }}
									</td>
									<td>
										{{ bulb.Kelvin }}
									</td>
								</tr>

							</table>
						</div>

					</td>
				</tr>

			</table>
		</div>
	</div>
</div>



<script src="~/scripts/views/Bulb/Index.js"></script>
